* { font-family: sans-serif; }
#peers {
    float:left;
    display: block;
    width: 280px;
    background-color: bisque;
    margin-right: 1em;
    min-height: 100px;
}
#peers ul {
    margin: 0;
    padding-left: 1em;
}
#peers li {
    list-style-type: none;
}
h2 {
    font-size: 18px;
    text-indent: 2em;
}
#tps {
    background-color: lightseagreen;
    padding: 1em;
}
#tps h2 {
    display: inline;
}
#report {
    background-color:lightsteelblue;
    min-height: 100px;
    margin-top: 0;
    padding-top: 0;
}