<div class="bit" id="appreport">
<h2>App Report</h2>
<table>
    <tr>
        <td>Message</td>
        <td>Received</td>
        <td>Total</td>
        <td>Waste %</td>
        <td>Sent</td>
    </tr>
{{ range $key, $val := .NonDupeMessages }}
{{- if $key }}
<tr>
    <td>{{ $.Name $key }}</td>
    <td>{{ . }}</td>
    <td>{{ index $.Messages $key }}</td>
    <td>{{ printf "%.2f" ($.Waste $key) }} </td>
    <td>{{ index $.Sent $key }}</td>
</tr>
{{ end }}
{{ end }}
</table>
</div>
<div class="bit">
<h2>Network</h2>
<table>
    <tr>
        <td></td>
        <td>Down</td>
        <td>Up</td>
    </tr>
    <tr>
        <td>Data</td>
        <td>{{ .Metrics.BytesDownF }}</td>
        <td>{{ .Metrics.BytesUpF }}</td>
    </tr>
    <tr>
        <td>MPS</td>
        <td>{{ .Metrics.MessagesDown }}</td>
        <td>{{ .Metrics.MessagesUp }}</td>
    </tr>
    <tr>
        <td>TPS</td>
        <td>{{ .TPS }}</td>
        <td></td>
    </tr>
    <tr>
        <td>EPS</td>
        <td>{{ .EPS }}</td>
        <td></td>
    </tr>
</table>
</div>